<h1>HolmesPlace Calendar Exporter</h1>
<p>This app exports the HolmesPlace course plan to vCalendar format.
	Just select the courses you want to include or exclude, and send
	the form. You can then copy the link from your browser and import
	the calendar from your favourite calendar application.</p>
	<p>You can also just <a href="<%= all_url %>">get all courses</a>. <a href="https://github.com/drblinken/holmesplan">Source on github.</a>
</p>

<form action="<%= week_select_path %>" method="get">

   
   <%= radio_button_tag(:include_or_exclude, "include", selected: true) %>
   <%= label_tag(:include, "Include below courses") %>
   <%= radio_button_tag(:include_or_exclude, "exclude") %>
   <%= label_tag(:exclude, "Exclude below courses") %>
   <br/>
   Get events for the next
   <%= number_field_tag 'no_of_weeks', 3, min: 1, max: 9, class: 'no_of_weeks' %> weeks
   <%= submit_tag("Submit") %>
   
   <% 
      l = @course_labels.length
      mid = l.even? ? l/2 : l/2 + 1
      left = @course_labels.slice(0,mid)
      right = @course_labels.slice(mid,@course_labels.length)
      %>
   <table>
     <tr>
       <td valign = "top">
         <%= render partial: "check_boxes", locals: {labels: left} %>
       </td>
       <td valign = "top">
         <%= render partial: "check_boxes", locals: {labels: right} %>
       </td>
    </tr>
  </table>


</form>
